.single-hotel{
    border-radius: 15px;
}
.single-hotel:hover{
    background-color: lightgray;
}
.image{
    display: flex;
    align-items: center;
    height: 180px;
    padding: 0px;
    margin: 0;
    cursor: pointer;
}
.image img{
    box-sizing: border-box;
    width: 100%;
    padding-right: 5px;
}
.star{
    height: 20px;
}
.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 180px;
    margin:0;
    cursor: pointer;
    text-align: left;
}

#title{
    font-size: 16px;
    font-weight: 700;
    padding: 0;
    margin: 5px 0;
}
.details p{
    margin: 1px 0;
}